* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.input {
    position: absolute;
    top: 20%;
    left: 40%;
}

.container {
    position: absolute;
    top: 40%;
}

button {
    position: absolute;
    top: 20%;
    left: 55%;
}

h1 {
    position: absolute;
    left: 40%;
    top: 10%;
}